<div class="site-header">
  <h1>UOF X 測試站台網址</h1>
</div>
<div class="link-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="link-info">
          <span class="link-title dev-bg">Dev</span>
          <div class="link-url">
            <span>前台</span>
            <a href="https://xdlab.edetw.com/" target="_blank"
              >https://xdlab.edetw.com/</a
            >
          </div>
          <div class="link-url">
            <span>後台</span>
            <a href="https://xdlab.edetw.com:16890/" target="_blank"
              >https://xdlab.edetw.com:16890/</a
            >
          </div>
          <div class="link-url">
            <span>App</span>
            <a href="http://172.16.3.140:9000/" target="_blank"
              >http://172.16.3.140:9000/</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="link-info">
          <span class="link-title testing-bg">Testing</span>
          <div class="link-url">
            <span>前台</span>
            <a href="https://xtlab.edetw.com/" target="_blank"
              >https://xtlab.edetw.com/</a
            >
          </div>
          <div class="link-url">
            <span>後台</span>
            <a href="https://xtlab.edetw.com:16890/" target="_blank"
              >https://xtlab.edetw.com:16890/</a
            >
          </div>
          <div class="link-url">
            <span>App</span>
            <a href="http://172.16.3.143:9000/" target="_blank"
              >http://172.16.3.143:9000/</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="link-info">
          <span class="link-title r-bg">R</span>
          <div class="link-url">
            <a href="https://uofx.edetw.com/ede2" target="_blank"
              >https://uofx.edetw.com/ede2</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="link-info">
          <span class="link-title r-bg">PR</span>
          <div class="link-url">
            <a href="https://uofxt.edetw.com/ede2" target="_blank"
              >https://uofxt.edetw.com/ede2</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="link-info">
          <span class="link-title p-bg">P</span>
          <div class="link-url">
            <a href="https://x.uof.tw/pede" target="_blank"
              >https://x.uof.tw/pede</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="link-info">
          <span class="link-title p-bg">PP</span>
          <div class="link-url">
            <a href="https://uofxp.edetw.com/" target="_blank"
              >https://uofxp.edetw.com/</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer">
  <span>Powered by KiwiTech™</span>
</footer>
